.main {
  margin: 0 15%;
}

.main h1 {
  font-size: 48px;
}

.main-wrapper {
  background: #fff url(../images/bg-header-desktop.svg) no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-wrapper {
  background: #6070ff url(../images/bg-footer-desktop.svg) 40% 70% no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10% 0 10% 0;
}

.social-icon {
  width: 16px;
  height: 16px;
}
